<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-crypt-assets"
  version="0.2.0">
    <name>cordova-plugin-crypt-assets</name>
    <description>Cordova plugin to encrypt/decrypt the source assets</description>
    <author>@tkyaji, @qhng, @naveed-ahmad</author>
    <license>Apache 2.0 License</license>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="DecryptResourceNG">
                <param name="android-package" value="com.qhng.cordova.DecryptResourceNG" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
		
        <source-file src="src/android/com/qhng/cordova/DecryptResourceNG.java" target-dir="src/com/qhng/cordova" />
    </platform>

     <cryptfiles>
        <include>
            <file regex="(bundle|index).(htm|html|js)$" />
        </include>
        <exclude>
        </exclude>
    </cryptfiles>

    <hook type="after_prepare" src="hooks/after_prepare.js" />

</plugin>
